html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    color: #fff;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
button {
    border-radius:0;
    -webkit-appearance:none;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    font-weight: bold;
} 
#background {
    width: 100%;
    height: 100%;
    margin: 0;
    position: fixed;
    background-position: center;
    background-size: cover;
    top: 0;
    z-index: -100;
    background-image: url("./img/background/160.jpg");;
}
#title {
    margin-left: calc(5% + env(safe-area-inset-left));
    color: #fff;
    margin-bottom: 30px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}
#site_notice {
    margin-left: calc(5% + env(safe-area-inset-left));
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    margin-bottom: 20px;
}
#star {
    border: none;
    text-align: center;
    width: 500px;
    margin: auto;
    margin-top: 3px;
    line-height: 160%;
    color: yellow;
}
#setTable {
    margin: auto;
    text-shadow: 1px 1px 5px #101010;
}
.common {
    background: #37312C;
    border: solid black 1px;
    border-radius: 5px;
    margin: 5px;
}
#ui {
    width: 500px;
    border: solid saddlebrown 5px;;
    margin: auto;
    background: #564C43;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}
#notice {
    text-align: center;
    line-height: 160%;
    font-size: 80%;
}
#center {
    text-align: center;
    margin-bottom: 10px;
    height: 180px;
}
#itemImg {
    width: 80%;
    height: 80%;
    margin: calc(10% - 4px);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border: dotted white 4px;
    border-radius: 10px;
}
#itemImgBox {
    border-radius: 5px;
    background: linear-gradient(to right, #139dba , #397fb3);
    float: left;
    display: inline-block;
    border: solid black 1px;
    width: calc(36% - 10px);
    height: 100%;
    margin: 5px;
}
#infoBox {
    float: right;
    display: inline-block;
    width: calc(64% - 15px);
    height: 100%;
}
#info {
    height: calc(100% - 30px);
    margin: 15px;
    line-height: 150%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#option {
    height: 35px;
    margin-top: 5px;
    margin-bottom: 10px;
}
#catch {
    float: left;
    display: inline-block;
    width: calc(50% - 10px);
    margin-right: 0;
    height: 30px;
}
#preventDestroyBox {
    float: right;
    display: inline-block;
    width: calc(50% - 10px);
    height: 30px;
    margin-left: 0;
}
p {
    display: inline-block;
    margin: 5px;
}
#price, #totalUse {
    float: right;
}
#catchPercent {
    width: 30px;
}
#preventDestroy, #isCatch {
    float: right;
    margin: 3px;
    width: 24px;
    height: 24px;
}
#btnBox {
    height: 45px;
}
#force {
    width: calc(50% - 10px);
    float: left;
    height: 30px;
    margin: 5px;
    background-color: #4CAF50;
}
#noUpgrade {
    background-color: #4CAF50;
}
#reset {
    width: calc(50% - 10px);
    float: right;
    height: 30px;
    margin: 5px;
    background-color: #C0C0C0;
}
#btnStatis {
    width: 200px;
    height: 30px;
    margin: 15px 5px;
    background-color: orange;
}

nav {
    padding-top: 50px;
    width: calc(90% - env(safe-area-inset-left) - env(safe-area-inset-right));
    margin: auto;
    text-shadow: 1px 1px 5px #101010;
}
#copyright {
    text-align: right;
    margin-bottom: 20px;
}
a:link {text-decoration: none; color: #9ce159;}
a:visited {text-decoration: none; color: #9ce159;}
a:hover {text-decoration: none; color: #AA7949;}
@media screen and (max-width:520px) {
    #ui, #star {
        width: calc(100% - 20px);
    }
    #center {
        height: calc(36vw - 10px);
    }
}
@media screen and (max-width:330px) {
    body {
        font-size: 90%;
    }
}